@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Open+Sans:400,700|Raleway:400,700&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Monda', sans-serif; 
*/


/* sass */
:root{
  --primaryColor:  #0a74bb;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainGrey: #fffefede !important;
  --darkGrey: #1A1110;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition:  all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title{
  font-family: 'Monda', sans-serif; 
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main{

}

body{
  font-family: 'Open Sans', sans-serif  !important;
  background-color: var(--mainGrey) !important;
  color: var(--mainBlack);
}