@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Open+Sans:400,700|Raleway:400,700&display=swap');

/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Monda', sans-serif; 
*/

Sss
  --primaryColor:  #0a74bb;
  --primaryRGBA: rgba(0,0,0,0.3);
  --mainGrey: #e7e4e4 !important;
  --darkGrey: #1A1110;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition:  all 0.3s ease-in-out;
}

body{
  font-family: 'Open Sans', sans-serif  !important;
  background-color: var(--mainGrey);
}